/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body fills the viewport */
}

h1, h2, h3 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Header Styles */
header {
  background-color: #2c3e50;
  padding: 20px;
  color: #fff;
  text-align: center; /* Center-align the text on mobile screens */
  font-size: 16px;
}

nav ul {
  display: flex;
  flex-wrap: wrap; /* Allow navigation items to wrap to the next line */
  justify-content: center; /* Center-align the navigation items */
}

nav li {
  margin: 5px; /* Add some spacing between navigation items */
  text-align: center; /* Center-align each navigation item's text */
}

.nav-link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #e1f5fe;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  /* Styles for mobile devices */
  header {
    padding: 10px;
  }

  nav ul {
    flex-direction: row;
    justify-content: center; /* Center-align navigation items vertically */
  }

  nav li {
    margin: 0 10px; /* Add spacing between navigation items vertically */
  }
  .nav-link {
    font-size: 14px; /* Adjust the font size to your preference */
  }
}



/* Section Styles */
section {
  padding: 40px;
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

#about {
  background-image: url('images/cover.png');
  background-size: cover;
  background-position: center;
}

#projects {
  background-color: #f9fafb;
}

#contact {
  background-color: #f9fafb;
}

.project {
  margin-bottom: 20px;
}

.project-image {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.project-image:hover {
  transform: scale(1.05);
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
  margin-bottom: 10px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #2c3e50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #e1f5fe;
  color: #2c3e50;
}

/* Footer Styles */
footer {
  background-color: #2c3e50;
  padding: 20px;
  text-align: center;
  color: #fff;
  margin-top: auto; /* Push the footer to the bottom */
}

/* Profile Section Styles */
.profile {
  text-align: center;
  margin-bottom: 40px;
}

.profile img {
  display: block;
  max-width: 250px;
  height: auto;
  margin: 0 auto 20px;
  border-radius: 50%;
}

.profile h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #2c3e50; /* Update the color value to match the theme */
}

.profile p {
  font-size: 16px;
}


.education-list {
  list-style-type: none;
  padding: 0;
}

.education-list li {
  margin-bottom: 20px;
}

.education-list h3 {
  font-size: 18px;
  color: #333; /* Text color */
  margin-bottom: 5px;
}

.education-list h4 {
  font-size: 16px;
  color: #666; /* Subtitle color */
  margin-bottom: 5px;
}

.education-list h5 {
  font-size: 14px;
  color: #999; /* Additional details color */
  margin-bottom: 5px;
}

.education-list p {
  font-size: 16px;
  color: #444; /* Date color */
  margin-bottom: 10px;
}

/* Seminar Section Styles */
#seminars {
  padding: 40px;
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.seminar-list {
  list-style-type: none;
  padding: 0;
}

.seminar-list li {
  margin-bottom: 20px;
}

.seminar-list h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.seminar-list p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}


/* Skills Section Styles */
.skills-list {
  margin-top: 20px;
}

.skills-list li {
  display: flex;
  align-items:.center;
  margin-bottom: 10px;
}

.skill-name {
  flex-grow: 1;
  margin-right: 10px;
}

.rating {
  display: flex;
  align-items: center;
}

.star {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  margin-right: 4px;
  background-image: url('images/star-icon.png'); /* Replace with your star icon */
  background-size: cover;
  transition: transform 0.3s ease;
  background-color: transparent; /* Add this line to remove the yellow background */
}

.star.active {
  transform: scale(1.0); /* Increase the size of active stars */
  background-color: transparent;
}

.project-description {
  font-size: 16px;
  color: #666;
}

.project-title a.project-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #e1f5fe;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.project-title a.project-link:hover,
.project-title a.project-link:active,
.project-title a.project-link:focus {
  background-color: #b3e5fc;
  color: #333;
}

/* Tarpaulin Edits Section Styles */
#tarpaulin-edits {
  padding: 40px 0;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  cursor: pointer;
}

/* Image Modal Styles */
#imageModal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

#imageModalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#modalClose {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

#modalImage {
  max-width: 90%;
  max-height: 90%;
}

.video-item {
  margin-bottom: 10px;
}

.video-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.video-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  /* Styles for mobile devices */
  header {
    padding: 10px;
  }

  .profile img {
    max-width: 150px;
  }

  .profile h1 {
    font-size: 20px;
  }

  .profile p {
    font-size: 14px;
  }

  .skills-list li {
    flex-direction: column;
    align-items: flex-start;
  }

  .rating {
    margin-top: 5px;
  }

  .project-title a.project-link {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  /* Styles for tablets and larger screens */
  section {
    padding:60px;
  }

  .project-image {
    max-width: 300px;
  }

  .project-description {
    font-size: 18px;
  }

  .video-title {
    font-size: 24px;
  }

  .video-description {
    font-size: 18px;
  }
}

.video-item video {
  max-width: 100%;
  height: auto;
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 6.25%; /* 16:9 aspect ratio (9 / 16 * 100%) */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

